{{block "sign-in-form" .}}
<div class="card my-3 mx-auto" style="max-width: 600px">
    <div class="card-header">
        Sign In
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>
{{end}}

{{block "sign-up-form" .}}
<div class="card my-3 mx-auto" style="max-width: 600px">
    <div class="card-header">
        Sign Up
    </div>
    <div class="card-body">
        <form class="row">
            <div class="col-12 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="col-12 mb-3">
                <label for="username" class="form-label">Username</label>
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" id="username" required>
                </div>
            </div>
            <div class="col-12 mb-3">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="email" required>
                </div>
            </div>
            <div class="col-12 mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" required>
                </div>
            </div>
            <div class="col-12 mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city">
            </div>
            <div class="col-6">
                <label for="state" class="form-label">State</label>
                <input type="text" maxlength="2" minlength="2" id="state" class="form-control">
            </div>
            <div class="col-6">
                <label for="zip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip" required>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 my-3" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{{end}}
