{{block "donation-post-form" .}}
<div class="card my-3 mx-auto" style="max-width: 600px">
    <div class="card-header">New Donation</div>
    <div class="card-body">
        <form id="post" hx-post="/donate" hx-encoding="multipart/form-data" hx-swap="outerHTML"
            hx-select=".card, .alert" hx-target="closest .card" hx-indicator=".htmx-indicator">
            <div class="col-12 mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" required minlength="5" maxlength="255"
                    hx-post="/validate" hx-trigger="revealed, keyup changed delay:200ms"
                    hx-target="next .validation-result" hx-swap="innerHTML">
                <div class="validation-result"></div>
            </div>
            <div class="col-12 mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" hx-post="/validate" required minlength="5"
                    maxlength="4096" hx-trigger="revealed, keyup changed delay:200ms"
                    hx-target="next .validation-result" hx-swap="innerHTML"></textarea>
                <div class="validation-result"></div>
            </div>
            <div class="col-12 mb-3">
                <label for="starts-at" class="form-label">Start date</label>
                <input type="datetime-local" class="form-control" name="starts-at">
            </div>
            <div class="col-12 mb-3">
                <label for="ends-at" class="form-label">End date</label>
                <input type="datetime-local" class="form-control" name="ends-at">
            </div>
            <div class="col-12 mb-3">
                <label for="servings-total" class="form-label">Servings</label>
                <input type="number" min="1" class="form-control" name="servings-total">
            </div>
            <div class="col-12 mb-3">
                <label for="images" class="form-label">Images</label><br>
                <small class="text-muted">Up to 10 images, each no more than 10MB.</small>
                <input type="file" class="form-control" name="images" accept="image/*" multiple
                    onchange="(function(e) { if (e.target.files.length > 10) alert('Only first 10 images will be added.') })(event)">
            </div>
            {{template "location" .}}
            <div class="col-12">
                <button class="btn btn-primary w-100 my-3" type="submit">Submit</button>
                {{template "spinner" "Submitting form..."}}
            </div>
        </form>
    </div>
</div>

<script>
    const form = document.querySelector("#post");
    form.addEventListener("submit", e => e.preventDefault(), true);
</script>
{{end}}

{{block "donation-post" .}}
<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title">{{ .Title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Available from {{ .StartsAt.Time.Format "Jan 02, 2006 15:04 PM" }} to
            {{ .EndsAt.Time.Format "Jan 02, 2006 15:04 PM" }}</h6>
        <small class="text-muted">Created at {{ .CreatedAt.Time.Format "Jan 02, 2006 15:04 PM"
            }}</small>
    </div>
    <div class="card-body">
        <p class="card-text">{{ .Description }}</p>
        <!-- <p>Total servings: {{ .ServingsTotal}}</p> -->
        <!-- <p>Servings left: {{ .ServingsLeft}}</p> -->
        <a href="/request/{{.ID}}" class="btn btn-info float-right">Request</a>
        <a href="/post/{{.ID}}" class="btn btn-primary float-right">Learn More</a>
    </div>
</div>
{{end}}

{{block "full-post" .}}
<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title">{{ .Title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Available from {{ .StartsAt.Time.Format "Jan 02, 2006 15:04 PM" }} to
            {{ .EndsAt.Time.Format "Jan 02, 2006 15:04 PM" }}</h6>
        <small class="text-muted">Created at {{ .CreatedAt.Time.Format "Jan 02, 2006 15:04 PM"
            }}</small>
    </div>
    <div class="card-body">
        <p class="card-text">{{ .Description }}</p>
        <p>Total servings: {{ .ServingsTotal.Int32}}</p>
        <p>Servings left: {{ .ServingsLeft.Int32}}</p>
        <a href="/request/{{.ID}}" class="btn btn-info float-right">Request</a>
        <a href="/post/{{.ID}}" class="btn btn-primary float-right">Share</a>
    </div>
</div>
{{end}}

{{define "post-feed"}}

{{range .}}
{{template "donation-post" .}}
{{end}}

{{end}}
